<footer class="main">
    <div class="div-footer">
        <section class="section-footer">
            <h2>Navigation</h2>
            <div class="row-grid">
                <a routerLink="/">Home</a>
                <a routerLink="/calc">Calculator</a>
            </div>
        </section>
        <section class="section-footer">
            <h2>About</h2>
            <div class="row-grid">
                <a routerLink="/about">About Minecalc</a>
                <a href="mailto:son@moduck.dev">Contact</a>
            </div>
        </section>
        <section class="section-footer">
            <h2>Social</h2>
            <div class="row-grid">
                <p>Discord: Pandalita#9766</p>
            </div>
        </section>
    </div>
</footer>