<nav class="navbar">
    <ul class="navbar-nav">
        <li class="logo">
            <a routerLink="/" class="nav-link">
                <span class="link-text">minecalc</span>
                <i class="material-icons">emoji_nature</i>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/" class="nav-link">
                <i class="material-icons">home</i>
                <span class="link-text">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/calc" class="nav-link">
                <i class="material-icons">calculate</i>
                <span class="link-text">Calculator</span>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/about" class="nav-link">
                <i class="material-icons">help</i>
                <span class="link-text">About</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="mailto:son@moduck.dev" class="nav-link">
                <i class="material-icons">email</i>
                <span class="link-text">Contact</span>
            </a>
        </li>
    </ul>
</nav>
